/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

pre {
  position: relative;
}

pre > a {
  position:absolute;
  right: 0;
  top: 42%;
  margin-right: 1em;
  font-size: .8em;
}

pre > img {
  position: absolute;
  right: 10%;
  z-index: 1;
  bottom: 65%;
}
